[class~="overlays"] label {
    place-items: testcenter;
}
#testcenter,
[class~="fullscreens"],
#socials {
    position: fixed;
}
[class~="fullscreens"],
#testcenter{
    top: 20%;
}
#testcenter,
[class~="fullscreens"] {
    left: 50%;
}
[class~="fullscreens"],
#testcenter{
    transform: translate(-50%, -50%);
}
#center,
#socials {
    text-align: center;
}
#socials,
#center {
    font-family: "Consolas", monospace;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: rgba(var(--gray));
	font-size: 13px;
	padding-bottom: 15px
  }

a {
    text-decoration: none;
}
a {
    color: gray !important;
}
#notification .content {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    position: relative;
}
