[class~="overlay"] label {
    place-items: testcenter;
}
#testcenter,
[class~="fullscreen"],
#socials {
    position: fixed;
}
[class~="fullscreen"],
#testcenter{
    top: 70%;
}
#testcenter,
[class~="fullscreen"] {
    left: 50%;
}
[class~="fullscreen"],
#testcenter{
    transform: translate(-20%, -50%);
}
