[class~="overlays"] label {
    place-items: testcenter;
}
#testcenter,
[class~="fullscreens"],
#socials {
    position: fixed;
}
[class~="fullscreens"],
#testcenter{
    top: 70%;
}
#testcenter,
[class~="fullscreens"] {
    left: 50%;
}
[class~="fullscreens"],
#testcenter{
    transform: translate(-20%, -50%);
}
